<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    {{ partial "head-meta.html" . }}
    {{ block "schema-dot-org" . }}
      <!-- schema.org metadata differs for Nodes and Pages -->
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ "<!-- combined, minified CSS -->" | safeHTML }}
    <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet" crossorigin="anonymous">

    {{ if .RSSLink }}
    {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{ template "_internal/google_analytics_async.html" . }}

    <script src="{{ .Site.BaseURL }}js/bg.js" crossorigin="anonymous" async></script>

    {{ partial "head-custom.html" . }}
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="nav blog-nav">
          <a class="nav-link {{ if .IsHome }}active{{ end }}" href="{{ .Site.BaseURL | absLangURL }}">{{ i18n "home" }}</a>
          {{ if .Site.Params.custom_navbar }}
          {{ range .Site.Menus.navbar }}
          <a class="nav-link" href="{{.URL | absURL }}">{{ .Name }}</a>
          {{ end }}
          {{ else }}
          {{ range where .Site.RegularPages "Type" "!=" "post" }}
          <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
          {{ end }}
          <a class="nav-link" href="/categories/gerenciamento/">Blog</a>
        </nav>
      </div>
    </div>

    <section class="index-masthead section">
        <canvas class='connecting-dots'></canvas>
        <div class="container content">
            <h1 class="logo">locomotiva.co</h1>
            <h1>Creating awesome software solutions for your business.</h1>
            <div class="row">
                <div class="col-sm-4">
                    <h3>Do papel até o mercado</h3>
                    <p>Ajudamos fundadores a levarem suas ideias de rabiscos no caderno até empresas prontas para o mercado e para impactar o mundo de maneira significativa.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Time remoto</h3>
                    <p>Nós provemos empresas estabelecidas e novas startups com o time tecnológico e a gerência de projetos relacionados necessária para alcançar objetivos e maximizar esforços de uma maneira inteligente e moderna.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Desenvolvimento de produto</h3>
                    <p>Nós amamos criar produtos e soluções baseadas em softwares inovadores e, assim, levarmos sua ideia para o próximo nível. De novos fundadores a profissionais experientes, colaborar com você para atingir resultados incríveis é o que nos movimenta.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="index-work section">
        <div class="container">
            <h2>Nosso trabalho</h2>
            <p>Nós da Locomotiva somos apaixonados por desenvolver e construir grandes ideias. Nosso time está sempre pronto para utilizar as mais recentes práticas, linguagens e tecnologias disponíveis para seu projeto, provendo uma grande fama de diferentes serviços que se adaptam às necessidades de sua companhia.</p>
            
            <div class="clients-row">
                <div class="col-sm-2 col-xs-4">
                    <img src="/img/acegroup.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-2 col-xs-4">
                    <img src="/img/atualizecar.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-2 col-xs-4">
                    <img src="/img/bandtripper.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-2 col-xs-4">
                    <img src="/img/eun.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-2 col-xs-4">
                    <img src="/img/lefooding.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section class="index-clients section">
        <div class="container">
        </div>
    </section>

    <section class="index-portfolio section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 luztr-app">
                    <img src="/img/luztr-app.png" alt="" class="img-fluid">
                </div>
                <div class="col-sm-6" style="padding: 5vh;">
                    <h5 style="margin-bottom: 70px;">CASE</h5>
                    <img src="/img/luztr.png" alt="" class="img-fluid" style="max-width: 90px;">
                    <h2 style="font-weight:500;">LUZTR</h2>
                    <p>Após um ano e meio de interações falhas e dispendiosas com outras empresas de desenvolvimento de software, a LUZTR se tornou nossa cliente. Nesse momento, nos tornamos seu time remoto, incluindo serviços de CTO sob demanda.</p>
                    <p>Nos envolvemos profundamente com a empresa e sua operações para melhor compreendermos suas demandas e desafios enfrentados.</p>
                    <p>Em apenas três meses e recursos melhor empregados, o cliente está agora lançando seu progressive app totalmente funcional e multiplataforma.</p>
                    <p>Nós também dividimos nossa mentalidade de startup com os fundadores e funcionários, demonstrando como conseguir melhores resultados com custos e prazos mais efetivos.</p>
                    <br>
                    <p><strong>Atualmente, somos o CTO e equipe remota sob demanda da LUZTR.</strong></p>


                    <!-- <p>After failed and wasteful interactions with other software development companies, Luztr became our client. At this point, we became their remote team, including demand based CTO services.</p>
                    <p>We immersed ourselves in the company and its operations in order to better understand the demands and challenges faced.</p>
                    <p>After only three months and much better used resources, the client is now launching it’s fully operational and multi platform supported progressive app.</p>
                    <p>We also shared our startup mindset with the founders and employees, showing how to get better results in more cost and time effective ways.</p>
                    <p>Currently, we provide Luztr with all their CTO and software remote team services.</p> -->
                </div>
            </div>
        </div>
    </section>

    <section class="index-advantages section">
        <div class="container">
            <div class="col-sm-8 offset-sm-2 justify-content-center">
                <h5>Vantagens</h5>

                <span class="icon-rocket"></span>
                <h4>Background em startups</h4>
                <p>Nosso background em startups nos dá o diferencial de estarmos sempre atualizados e em contato com toda nova tecnologia valiosa.</p>
                <p>Temos o entendimento necessário para entender os usuários e seus hábitos de consumo.</p>
                
                <span class="icon-sale"></span>
                <h4>Você focado em suas operações</h4>
                <p>Com a gente, você tem um parceiro de verdade que estará sempre trabalhando para melhorar o software da empresa.</p>
                <p>Sem preocupações com gerenciamento de seus projetos de tecnologia ou supervisão constante, nós entendemos suas necessidades e apresentamos resultados palpáveis.</p>
                
                <span class="icon-target"></span>
                <h4>Trabalho remoto</h4>
                <p>Nosso time trabalha com produtividade máxima e no ambiente correto, sem acrescentar custos para sua logística diária.</p>
                <p>Nós aceitamos apenas projetos nos quais nós realmente acreditamos, por isso, você pode ficar tranquilo com a certeza de que tem o time certo do seu lado.</p>
            </div>
        </div>
    </section>

    <footer class="footer-main section">
        <div class="container">
            <h2>Vamos falar do seu projeto</h2>

            <p>
                Estamos sempre à procura de ideias, projetos e desafios novos e interessantes de todo o mundo.<br>
                Vamos falar dos projetos que te movem.
            </p>

            <p>Juntos, podemos criar grandes empresas, produtos e<br>serviços que deixam o mundo ainda melhor!</p>

            <a href="mailto:jp@locomotiva.co?subject=Fale+Conosco+Locomotiva" class="btn btn-lg btn-secondary">Fale com a gente</a>

            <!-- <a href="#">{{ i18n "backToTop" }}</a> -->
        </div>
    </footer>
  </body>
</html>