
<!DOCTYPE html>
<html lang="{{ .Lang }}">

  <head>
    {{ partial "head-meta.html" . }}

    {{ block "schema-dot-org" . }}
      <!-- schema.org metadata differs for Nodes and Pages -->
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ "<!-- combined, minified CSS -->" | safeHTML }}
    <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet" crossorigin="anonymous">

    {{ if .RSSLink }}
    {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{ template "_internal/google_analytics_async.html" . }}

    {{ partial "head-custom.html" . }}
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="nav blog-nav">
          <a class="nav-link {{ if .IsHome }}active{{ end }}" href="{{ .Site.BaseURL | absLangURL }}">{{ i18n "home" }}</a>
          {{ if .Site.Params.custom_navbar }}
          {{ range .Site.Menus.navbar }}
          <a class="nav-link" href="{{.URL | absURL }}">{{ .Name }}</a>
          {{ end }}
          {{ else }}
          {{ range where .Site.RegularPages "Type" "!=" "post" }}
          <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
          {{ end }}
          <a class="nav-link active" href="/categories/gerenciamento/">Blog</a>
        </nav>
      </div>
    </div>

    <header class="blog-header">
      <div class="container">
        <h1 class="blog-title"><a href="{{ .Site.BaseURL }}" rel="home">blog da LOCOMOTIVA</a></h1>
        <p class="lead blog-description">Creating awesome software solutions for your business.</p>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-sm-10 offset-sm-1 blog-main">

          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}

        </div> {{ "<!-- /.blog-main -->" | safeHTML }}

      </div> {{ "<!-- /.row -->" | safeHTML }}
    </div> {{ "<!-- /.container -->" | safeHTML }}

    <footer class="newsletter-bar">
      <div class="container">
        <form action="//joaonetto.us10.list-manage.com/subscribe/post?u=0cda323cac6c24c0692f6faca&amp;id=1641648db1" method="post" name="mc-embedded-subscribe-form" class="form-inline" target="_blank" novalidate>
          <label for="mce-EMAIL" class="">Receba nossos posts por email</label>
          <input type="email" value="" name="EMAIL" class="form-control mb-2 mr-sm-2 mb-sm-0" id="mce-EMAIL" placeholder="seu email" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0cda323cac6c24c0692f6faca_1641648db1" tabindex="-1" value=""></div>
            <input type="submit" value="OK" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary btn-sm">
        </form>
      </div>
    </footer>

    <footer class="main-footer">
      <h5>locomotiva.co</h5>
      <p><a href="#">Voltar ao topo</a></p>
      <p><a href="/">Página Inicial</a></p>
      <p><a href="/categories/gerenciamento">Blog</a></p>
    </footer>
    <script>
      (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
        t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
      })(window, document, '_gscq','script','//widgets.getsitecontrol.com/72361/script.js');
    </script>
  </body>

</html>

{{- /* vim: set ts=2 sw=2 et: */}}
